# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [109]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [110]:
# Calculate total number of schools and students
total_schools = school_data_complete["School ID"].nunique()
total_students = school_data_complete["Student ID"].nunique()

In [111]:
# Calculate total budget for all schools
school_df = school_data_complete.groupby("School ID").first()
total_budget = school_df["budget"].sum()

In [112]:
# Calculate average math and reading scores
avg_math = school_data_complete["math_score"].mean()
avg_read = school_data_complete["reading_score"].mean()

In [113]:
# Calculate percentage of students passing math and reading and overall pass rate
math_pass_df = school_data_complete.loc[school_data_complete["math_score"] >= 70]
passing_math = (math_pass_df["math_score"].count() / total_students) * 100

read_pass_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
passing_read = (read_pass_df["math_score"].count() / total_students) * 100

total_pass = (passing_math + passing_read) / 2

In [114]:
# Create dataframe to hold results
district_df = pd.DataFrame({"Total Schools":total_schools, "Total Students":total_students, "Total Budget":total_budget, 
                           "Average Math Score":avg_math, "Average Reading Score":avg_read, "% Passing Math":passing_math, 
                          "% Passing Reading":passing_read, "% Overall Passing Rate":total_pass}, index = [0])

In [115]:
# Format results more cleanly
district_df["Total Students"] = district_df["Total Students"].astype(int).map("{:,}".format)
district_df["Total Budget"] = district_df["Total Budget"].astype(float).map("${:,.2f}".format)
district_df["Average Math Score"] = district_df["Average Math Score"].astype(float).map("{:.2f}".format)
district_df["Average Reading Score"] = district_df["Average Reading Score"].astype(float).map("{:.2f}".format)
district_df["% Passing Math"] = district_df["% Passing Math"].astype(float).map("{:.2f}".format)
district_df["% Passing Reading"] = district_df["% Passing Reading"].astype(float).map("{:.2f}".format)
district_df["% Overall Passing Rate"] = district_df["% Overall Passing Rate"].astype(float).map("{:.2f}".format)
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,80.39

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [135]:
# Get data for each school from merged school/student dataframe using groupby
school_group = school_data_complete.groupby("school_name")
school_type = school_group["type"].first()
school_students = school_group["Student ID"].count()
school_budget = school_group["budget"].first()
school_budget_per_student = school_budget / school_students
school_avg_math = school_group["math_score"].mean()
school_avg_read = school_group["reading_score"].mean()

In [136]:
# Calculate passing averages from district averages using groupby
school_math_pass = math_pass_df.groupby("school_name")
school_math_pass_count = school_math_pass["math_score"].count()
school_math_pass_pct = (school_math_pass_count / school_students) * 100

school_read_pass = read_pass_df.groupby("school_name")
school_read_pass_count = school_read_pass["reading_score"].count()
school_read_pass_pct = (school_read_pass_count / school_students) * 100

school_pass_rate = (school_math_pass_pct + school_read_pass_pct) / 2

In [138]:
# Create dataframe to hold results
school_df = pd.DataFrame({"School Type":school_type, "Total Students":school_students, "Total School Budget":school_budget, 
                           "Per Student Budget":school_budget_per_student, "Average Math Score":school_avg_math, 
                            "Average Reading Score":school_avg_read, "% Passing Math":school_math_pass_pct, 
                          "% Passing Reading":school_read_pass_pct, "% Overall Passing Rate":school_pass_rate}).groupby("school_name")
school_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [167]:
# From this point on, nothing really works, due to GroupBy resulting in none of what we've learned functioning.
# I tried Google-Fu (a phrase which, if I never hear it again, I'll rejoice) for hours and hours and hours, 
# but couldn't find any help to solve my problems working with GroupBy objects, so I did the best I could.

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [164]:
# sort_df = school_df.apply(pd.DataFrame.sort_values(by = "% Overall Passing Rate")
top5 = school_pass_rate.nlargest(5).keys()
top5

Index(['Cabrera High School', 'Thomas High School', 'Pena High School',
       'Griffin High School', 'Wilson High School'],
      dtype='object', name='school_name')

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [165]:
bottom5 = school_pass_rate.nsmallest(5).keys()
bottom5

Index(['Rodriguez High School', 'Figueroa High School', 'Huang High School',
       'Johnson High School', 'Ford High School'],
      dtype='object', name='school_name')

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [170]:
# Initialize variables to hold scores, numbers of students, and school names
ninth_math_score = 0
ninth_math_num = 0
tenth_math_score = 0
tenth_math_num = 0
eleventh_math_score = 0
eleventh_math_num = 0
twelfth_math score = 0

# I GAVE UP HERE

twelfth_math_num = 0
math_name = []

# Loop through dataset to gather data
for record in school_data_complete:
    if record["grade"] == "9th":
        ninth_math_score = ninth_math_score + record["math_score"]
        ninth_math_num = ninth_math_num + 1
        math_name = ninth_math_name + record["school_name"]
    elif record["grade"] == "10th":
        tenth_math_score = tenth_math_score + record["math_score"]
        tenth_math_num = tenth_math_num + 1
        math_name = tenth_math_name + record["school_name"]
    elif record["grade"] == "11th":
        eleventh_math_score = eleventh_math_score + record["math_score"]
        eleventh_math_num = eleventh_math_num + 1
        math_name = eleventh_math_name + record["school_name"]
    elif record["grade"] == "12th":
        twelfth_math_score = twelfth_math_score + record["math_score"]
        twelfth_math_num = twelfth_math_num + 1
        math_name = twelfth_math_name + record["school_name"]

ninth_grade_total = ninth_math_score.sum()
tenth_grade_total = tenth_math_score.sum()
eleventh_grade_total = eleventh_math_score.sum()
twelfth_grade_total = twelfth_math_score.sum()

ninth_grade_avg = ninth_grade_total / ninth_grade_num
tenth_grade_avg = tenth_grade_total / tenth_grade_num
eleventh_grade_avg = eleventh_grade_total / eleventh_grade_num
twelfth_grade_avg = twelfth_grade_total / twelfth_grade_num
        
# Combine into dataframe
math_df = pd.DataFrame({"9th":ninth_grade_avg, "10th":tenth_grade_avg, "11th":eleventh_grade_avg, "12th":twelfth_grade_avg}).groupby("math_name")

SyntaxError: invalid syntax (<ipython-input-170-2d0e39390bb2>, line 8)

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [10]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [11]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.